/* line 1, app/assets/stylesheets/signin.css.scss */
html,
body {
  height: 100%;
}

/* line 6, app/assets/stylesheets/signin.css.scss */
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/* line 14, app/assets/stylesheets/signin.css.scss */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* line 21, app/assets/stylesheets/signin.css.scss */
.form-signin .checkbox {
  font-weight: 400;
}

/* line 25, app/assets/stylesheets/signin.css.scss */
.form-signin .form-floating:focus-within {
  z-index: 2;
}

/* line 29, app/assets/stylesheets/signin.css.scss */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 35, app/assets/stylesheets/signin.css.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 41, app/assets/stylesheets/signin.css.scss */
.form-signin label {
  float: left;
}
