.dashboard-wrapper
  =render partial:"side_bar",locals:{friends:@friends}

  .main-area
    =render partial:"top_bar"
    =render partial:"users_account/account_balances",locals:{user:@user,alias_name:@user.email}
    =render partial:"expense/expense_history", locals:{expenses:@expenses}

=render partial:"expense/expense_modal"